@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap");

:root {
  // color palette
  --grey: #817d92;
  --dark-grey: #24232c;
  --very-dark-grey: #18171f;
  --almost-white: #e6e5ea;
  --neon-green: #a4ffaf;
  --red: #f64a4a;
  --orange: #fb7c58;
  --yellow: #f8cd65;

  // typography
  --heading-lg: bold 2rem/1.35 "JetBrains Mono", monospace;
  --heading-md: bold 1.5rem/1.3 "JetBrains Mono", monospace;
  --body: bold 1rem/1.3 "JetBrains Mono", monospace;

  // range input values
  --thumb-height: 1.25em;
  --track-height: 8px;
  --track-color: var(--very-dark-grey);
  --brightness-hover: 110%;
  --brightness-down: 100%;
  --clip-edges: 0.125em;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font: var(--body);
  color: var(--almost-white);
  background-color: var(--very-dark-grey);
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

main {
  padding: 4rem 1rem;
}

h1 {
  color: var(--grey);
  font-size: var(--body);
  text-align: center;
}

section {
  margin-top: 1rem;
}

.password-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-grey);
  padding: 1rem;
  margin-bottom: 1rem;
  position: relative;

  h2 {
    color: var(--grey);
  }

  button {
    background: none;
    border-style: none;
    cursor: pointer;
    transform: translateX(4px);
  }

  .copy-icon:hover path {
    fill: var(--almost-white);
  }

  #copy-success-message {
    font-size: 12px;
    width: 5rem;
    opacity: 0;
    position: absolute;
    top: -30%;
    right: -3%;
  }
}

form {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  background-color: var(--dark-grey);

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 56px;
    cursor: pointer;
    background-color: var(--neon-green);
    color: var(--very-dark-grey);
    border: none;
    transition-property: background-color, color, transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }

  button:hover {
    border: 1px solid var(--neon-green);
    background-color: var(--dark-grey);
    color: var(--neon-green);
  }

  button:visited {
    background-color: var(--neon-green);
    color: var(--very-dark-grey);
  }

  button:active {
    transform: translateY(5px);
    opacity: 0.7;
  }

  .right-arrow path {
    fill: var(--dark-grey);
    transition: fill 0.3s linear; /* Add a smooth transition effect */
  }

  .right-arrow path:hover {
    fill: #fff;
  }

  .error-message {
    color: var(--red);
    margin-top: 0.5rem;
    display: none;
  }
}

.range-container {
  position: relative;
  margin-bottom: 2rem;

  * {
    display: block;
  }

  label {
    margin-bottom: 1rem;
  }

  #character-length-value {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--neon-green);
    font: var(--heading-md);
  }

  /*
  range styling
  Based on https://codepen.io/ShadowShahriar/pen/zYPPYrQ
  */
  input[type="range"] {
    font-size: 1.5rem;
    width: 100%;
  }

  input[type="range"] {
    color: var(--neon-green);
    position: relative;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
  }

  input[type="range"]:active {
    cursor: grabbing;
  }

  input[type="range"]:focus-visible {
    outline: 1.5px solid var(--neon-green);
  }

  /* WebKit specific styles */
  input[type="range"],
  input[type="range"]::-webkit-slider-runnable-track,
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    transition: all ease 100ms;
    height: var(--thumb-height);
  }

  input[type="range"]::-webkit-slider-thumb {
    --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
    --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5);
    --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
    --clip-further: calc(100% + 1px);
    --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
      100vmax currentColor;
    width: var(--thumb-width, var(--thumb-height));
    background-color: var(--almost-white);
    box-shadow: var(--box-fill);
    border-radius: var(--thumb-width, var(--thumb-height));

    filter: brightness(100%);
    clip-path: polygon(
      100% -1px,
      var(--clip-edges) -1px,
      0 var(--clip-top),
      -100vmax var(--clip-top),
      -100vmax var(--clip-bottom),
      0 var(--clip-bottom),
      var(--clip-edges) 100%,
      var(--clip-further) var(--clip-further)
    );
  }

  input[type="range"]:hover::-webkit-slider-thumb {
    filter: brightness(var(--brightness-hover));
    cursor: grab;
  }

  input[type="range"]:active::-webkit-slider-thumb {
    filter: brightness(var(--brightness-down));
    cursor: grabbing;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
      100% calc(var(--track-height) + 1px);
  }

  input[type="range"]:disabled::-webkit-slider-thumb {
    cursor: not-allowed;
  }

  /* Firefox specific styles */
  input[type="range"],
  input[type="range"]::-moz-range-track,
  input[type="range"]::-moz-range-thumb {
    appearance: none;
    transition: all ease 100ms;
    height: var(--thumb-height);
  }

  input[type="range"]::-moz-range-track,
  input[type="range"]::-moz-range-thumb,
  input[type="range"]::-moz-range-progress {
    background: #fff0;
  }

  input[type="range"]::-moz-range-thumb {
    background-color: var(--almost-white);

    border: 0;
    width: var(--thumb-width, var(--thumb-height));
    border-radius: var(--thumb-width, var(--thumb-height));
    cursor: grab;
  }

  input[type="range"]:active::-moz-range-thumb {
    cursor: grabbing;
  }

  input[type="range"]::-moz-range-track {
    width: 100%;
    background: var(--track-color);
  }

  input[type="range"]::-moz-range-progress {
    appearance: none;
    background: currentColor;
    transition-delay: 30ms;
  }

  input[type="range"]::-moz-range-track,
  input[type="range"]::-moz-range-progress {
    height: calc(var(--track-height) + 1px);
    border-radius: var(--track-height);
  }

  input[type="range"]::-moz-range-thumb,
  input[type="range"]::-moz-range-progress {
    filter: brightness(100%);
  }

  input[type="range"]:hover::-moz-range-thumb,
  input[type="range"]:hover::-moz-range-progress {
    filter: brightness(var(--brightness-hover));
  }

  input[type="range"]:active::-moz-range-thumb,
  input[type="range"]:active::-moz-range-progress {
    filter: brightness(var(--brightness-down));
  }

  input[type="range"]:disabled::-moz-range-thumb {
    cursor: not-allowed;
  }
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.checkbox-container * {
  cursor: pointer;
}

.checkbox-container:nth-child(-n + 4) {
  margin-bottom: 1rem;
}

input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--almost-white);
  outline: none;
  cursor: pointer;
  position: relative;

  &:checked {
    border-color: var(--neon-green);
    background-color: var(--neon-green);
  }

  &:checked::before {
    // content needs to be non-empty to give background a size
    content: "-";
    background-image: url("./assets/images/icon-check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-size: 20px;
    position: absolute;
    color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// password strength styles
figure {
  background-color: var(--very-dark-grey);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;

  h3 {
    font: var(--body);
    color: var(--grey);
    text-transform: uppercase;
  }

  .strength-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  figcaption {
    text-transform: uppercase;
  }

  .strength-bars {
    display: flex;
    gap: 0.5rem;
  }

  b {
    width: 0.625rem;
    height: 1.75rem;
    border: 2px solid var(--almost-white);
    display: block;

    &.filled {
      border: none;
    }

    &.strong {
      background-color: var(--neon-green);
    }

    &.medium {
      background-color: var(--yellow);
    }

    &.weak {
      background-color: var(--orange);
    }

    &.too-weak {
      background-color: var(--red);
    }
  }
}
