@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');

:root {
  // color palette
  --grey: #817d92;
  --dark-grey: #24232c;
  --very-dark-grey: #18171f;
  --almost-white: #e6e5ea;
  --neon-green: #a4ffaf;
  --red: #f64a4a;
  --orange: #fb7c58;
  --yellow: #f8cd65;

  // typography
  --heading-lg: bold 2rem/1.35 'JetBrains Mono', monospace;
  --heading-md: bold 1.5rem/1.3 'JetBrains Mono', monospace;
  --body: bold 1.125rem/1.3 'JetBrains Mono', monospace;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font: var(--body);
  color: var(--almost-white);
  background-color: var(--very-dark-grey);
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

main {
  padding: 4rem 1rem;
}

h1 {
  color: var(--grey);
  font-size: var(--body);
  text-align: center;
}

section {
  margin-top: 1rem;
}

h2 {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--dark-grey);
}

form {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  background-color: var(--dark-grey);

  button {
    height: 56px;
  }
}

.range-container {
  * {
    display: block;
  }

  label {
    margin-bottom: 0.5rem;
  }

  margin-bottom: 2rem;
}

figure {
  background-color: var(--very-dark-grey);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

input[type='checkbox'] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--almost-white);
  outline: none;
  cursor: pointer;
  position: relative;
}

input[type='checkbox']:checked {
  border-color: var(--neon-green);
  background-color: var(--neon-green);
}

input[type='checkbox']:checked::before {
  // content needs to be non-empty to give background a size
  content: '-';
  background-image: url('./assets/images/icon-check.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-size: 20px;
  position: absolute;
  color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
